<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plaso.dao.UserDao">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.plaso.bean.User" id="UserMap">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="age" property="age" jdbcType="INTEGER" />
        <result column="address" property="address" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="VARCHAR" />
        <result column="test_id" property="test_id" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="DATE" />
        <result column="modify_time" property="updateTime" jdbcType="DATE" />
    </resultMap>

    <select id="selectUser" parameterType="INTEGER" resultMap="UserMap">
        select *
        from user
        where id = #{id,jdbcType=INTEGER}
    </select>

    <insert id="save" parameterType="com.plaso.bean.User">
        insert into user(name,age,address,description,test_id)
        values(#{name}, #{age},#{address},#{description},#{test_id})
    </insert>

</mapper>